<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Emote Leaderboard</h1>
        { % for item in content %}
        <p>{{ item }}</p> <br>
        { % endfor % }
    </body>
    <script>
        $(document).keydown(function(e){
            console.log('got keypress');
            $("body").css(" background-image", 'url("https://i.ytimg.com/vi/bFyI8MOB_7Q/maxresdefault.jpg")');
        });
    </script>
</html>